@tailwind base;
@tailwind components;
@tailwind utilities;


.heading{
    font-family: var(--font-integral);
}

.text{
    font-family: var(--font-integral);
font-size: 64px;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}